{% extends viewName %}
{% block base %}
	    <div id="baseContainer">
	        <header>
	            <nav role="navigation">
	                <ul id="navList" class="menu">
	                    <li id="navItem1" class="menu-item menu-item-type-custom menu-item-object-custom {{ currPageClassSelector.0 }} navItem1"><a href="{{ request.META.HTTP_HOST }}/">Home</a></li>
						<li id="navItem2" class="menu-item menu-item-type-custom menu-item-object-custom {{ currPageClassSelector.1 }} navItem2"><a href="{{ request.META.HTTP_HOST }}/about">About</a></li>
						<li id="navItem3" class="menu-item menu-item-type-custom menu-item-object-custom {{ currPageClassSelector.2 }} navItem3"><a href="{{ request.META.HTTP_HOST }}/contact">Contact</a></li>
						<li title="Click to view my resume!" id="navItem4" class="menu-item menu-item-type-custom menu-item-object-custom navItem4"><a href="{{ request.META.HTTP_HOST }}/static/resume.pdf">Resume</a></li>
	                </ul>
	            </nav>
	        </header>
	        <div id="contentContainer">
	            <div id="primarySidebar">
	                <aside>
	                    <ul id="sidebarList">
	                        <li id="picture">
	                            <img id="imgPicture" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAMnAAAAJDU5NTJkODhlLWRjZmItNGI4MS1hNjFlLWE4MzBiN2U2ZDg4ZQ.jpg">
	                        </li>
	                        <li>
	                             <h3 id="myName">Christopher Tarazi</h3>
	                        </li>
	                        <li>
	                             <h3 id="myTitle">Software Engineer</h3>
	                        </li>
	                    </ul>
	                    <ul id="sidebarSocial">
	                    	<li>
	                        	<a title="LinkedIn" class="social-links" href="https://www.linkedin.com/in/christarazi"><i class="fa fa-linkedin-square fa-lg"></i></a>
	                        </li>
	                        <li>
	                        	<a title="GitHub" class="social-links" href="https://github.com/christarazi"><i class="fa fa-github-square fa-lg"></i></a>
	                        </li>
	                        <li>
	                        	<a title="Stackoverflow" class="social-links" href="http://stackoverflow.com/users/2193236/chris-tarazi"><i class="fa fa-stack-overflow fa-lg"></i></a>
	                        </li>
	                    </ul>
	                </aside>
	            </div>
	            <div id="allPosts">
	                {% include "posts.html" %}
	            </div>
	        </div>
	        <footer>
	            <div id="footer-bottom">
	                <div class="footerContainer">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <p><span>Copyright © 2015</span> • <a id="footer-site" href="#" title="christarazi">Christopher Tarazi</a> • <a title="LinkedIn" href="https://www.linkedin.com/in/christarazi"><i class="fa fa-linkedin-square fa-lg"></i></a> • <a title="GitHub" href="https://github.com/christarazi"><i class="fa fa-github-square fa-lg"></i></a> • <a title="Stackoverflow" href="http://stackoverflow.com/users/2193236/chris-tarazi"><i class="fa fa-stack-overflow fa-lg"></i></a>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </footer>
	    </div>
{% endblock %}