		#fortuneApp, #bitcoinApp {
		    display: inline-block;
		    padding: 0px 15px;
		    border-radius: 4px;
		    font-size: 14px;
		    color: white;
		    text-decoration: none;
		    background-color: #e67e22;
		    box-shadow: 0px 5px 0px 0px #CD6509;
		}
		#fortuneApp, #bitcoinApp {
		    background-color: #FF983C;
		}
