<h2 id="techInfo">Personal Projects</h2>

<ul id="techList">
	<li id="github"><a href="https://github.com/christarazi">GitHub</a></li>
	<li id="stackoverflow"><a href="http://stackoverflow.com/users/2193236/chris-tarazi">Stack Overflow</a></li>
</ul>
<br>
<hr>
<br>
<article>	
	<a id="fortuneApp" href="/ctarazi/fortune"><h3>Fortune Generator</h3></a>

	<p>A web app developed in Python using Django that queries an SQL database for a fortune and fetches a random image from Flickr. Click button above to check it out.</p>
	<a id="bitcoinApp" href="https://play.google.com/store/apps/details?id=app.CT.BTCCalculator"><h3>Bitcoin Calculator</h3></a>
	<p>An Android app which serves as a calculator for finding break-even points and profit margins. It can also fetch the latest price index using the <a href="http://www.coindesk.com/">CoinDesk</a> API. I developed this to help me do day trading with Bitcoin a while back. As of September 2015, this app has been installed by 310 people.</p>
</article>
