		* {
			font-family:'Oxygen', sans-serif;
		}
		html {
			background-color: #293136;
		}
		#baseContainer {
			min-width: 728px;
			max-width: 65%;
			margin-left: auto;
			margin-right: auto;
			font-size: 1vmax;
		}
		#contentContainer {
			color: #000;
			background-color: white;
			margin-right: auto;
			margin-left: auto;
			padding: 30px;
			overflow: auto;
			/*opacity: 0;
			transition: opacity 1s ease-in .5s;*/
		}
		header {
			display:block;
			text-align: center;
			padding-top: 45px;
		}
		header nav {
			background-color:#455159;
			font-weight:bold;
			text-align:center;
		}
		header nav ul {
			position:relative;
			padding:0;
			margin:0;
		}
		header nav li {
			display:inline-block;
			border-top:4px solid #455159;
			margin-right:-5px;
		}
		header nav li:hover {
			border-color:#4c575f;
			background-color:#4c575f;
		}
		header nav li:hover a {
			color:#fff;
		}
		header nav li a {
			color:#ccc;
			display:block;
			padding:16px 35px 20px 35px;
			text-decoration:none;
		}
		header nav li a:hover {
			background-color:#4c575f;
			color:#fff;
		}
		header nav li.current-menu-item {
			border-top:.3vmax solid #3485b4;
		}
		header nav li.current-menu-item a {
			background-color:#3c464d;
			color:#fff;
		}
		footer {
			background-color:#455159;
			margin-bottom:60px;
			color:#999;
			padding: 5px;
		}
		.col-md-12 a i {
			font-style:normal;font-size:1.333em;
			line-height: .75em;
			vertical-align: -15%;
		}
		#footer-top a {
			color:#fff;
		}
		#footer-top {
			background-color:#3c464d;
			text-align:center;
			padding:15px 0;
		}
		#footer-top .menu {
			margin-bottom:30px;
		}
		#footer-top .menu li {
			display:inline;
			margin-right:15px;
			font-size:15px;
		}
		#footer-top .search-form {
			border:2px solid #4c575f;
			width:420px;
			margin:20px auto;
		}
		#footer-top .search-form label {
			margin:0;
		}
		#footer-top input[type=search] {
			background-color:#3c464d;
			color:#fff;
			display:inline;
			width:332px;
			margin:0;
			border:0;
		}
		#footer-top input[type=submit] {
			padding:12px 18px;
			-webkit-border-radius:0;
			-moz-border-radius:0;
			border-radius:0;
		}
		#footer-bottom {
			font-size:14px;
			text-align:center;
		}
		#footer-bottom span {
			margin-right:8px;
		}
		#footer-bottom a {
			color:#999;
			margin:0 8px;
		}
		#fortune {
			width: 75%;
			float: left;
		}
		#links {
			display: inline-block;
		}
		#links a {
			position: relative;
		    padding: .5em 1em .5em 1em;
		    margin: auto;
		    float: left;
		    border-radius: 4px;
		    font-size: 1.5vmax;
		    color: white;
		    text-decoration: none;
		    background-color: #55acee;
		    box-shadow: 0px 5px 0px 0px #3C93D5;
		    margin-bottom: 10px;
		}
		#primarySidebar {
			width: 20%;
			float: right;
			height: 100%;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 20px;
			text-align: center;
		}
		#myName {
			/*opacity: 0;
			transition: opacity 1s ease-in 1.75s;*/
			padding-top: 35px;
			font-size: 1.5vmax;
		}
		#myTitle {
			/*opacity: 0;
			transition: opacity 1s ease-in 2.5s;*/
			padding-top: 25px;
		}
		li h3 {
			margin: auto;
			font-weight: normal;
		}
		#sidebarList {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		#sidebarList li {
			display: inline;
		}
		#sidebarList li img {
			display: block;
			margin: 0 auto;
			height: 200px;
			width: auto;
			border-radius: 50%;
			/*opacity: 0;
			transition: opacity 2s linear 2s;*/
		}
		#sidebarSocial {
			list-style-type: none;
			margin: auto;
			padding: 0;
			padding-top: 1em;
		}
		#sidebarSocial li {
			display: inline;
			padding: 1em;
		}
		.social-links, .social-links:link, .social-links:visited,
		.social-links:hover {
			text-decoration: none;
			color: inherit;
		}
		article {
			line-height: 1.7em;
			padding: 0 30px 15px 0;
			margin: 0 0 30px 0;
			border-bottom: 1px solid #eee;
		}
		article a img {
			width: auto;
			height: auto;
			max-width: 75%;
			max-height: 25%;
			margin-top: 16px;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 16px;
		}
		.post-title {
			font-weight: bold;
			font-size: 2.25vmax;
			line-height: 2.5vmax;
			margin-top: 0;
		}
		.post-title a {
			text-decoration: none;
			color: #293136;
			font-weight: bold;
		}
		.post-title a:hover {
			text-decoration: none;
			color: #3485b4;
		}
		.post-meta {
			color: #aaa;
			border-left: .25vmax solid #3485b4;
			line-height: 1vmax;
			font-weight: bold;
			padding-left: 8px;
			font-size: 1vmax;
		}
