		* {
			font-family: 'Roboto', sans-serif;
		}
		html {
			width: 100%;
			background-color: #293136;
		}
		div.main {
			margin: auto;
			min-width: 728px;
			max-width: 728px;
			color: #000;
			border-style: solid;
			background-color: white; 
			padding: 1em;
			padding-bottom: 2em; 
			border-color: transparent;
			box-shadow: 0 0 5px #333333;
			overflow: auto;
			text-align: center;
			opacity: 0;
			transition: opacity 1s ease-in .5s;
		}
		#myName {
			opacity: 0;
			transition: opacity 1s ease-in 1.75s;
		}
		#myTitle {
			opacity: 0;
			transition: opacity 1s ease-in 2.5s;
		}

		li h3 {
			margin: -20px 0px 20px 0px;
			font-weight: normal;
		}
		ul.main-list {
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		}
		ul.main-list li {
			display: inline;
		}
		ul.main-list li img {
			display: block;
			margin: 0 auto;
			height: 200px;
			width: auto;
			border-radius: 50%;
			/*opacity: 0;
			transition: opacity 2s linear 2s;*/
		}
		ul.info-list, ul.tech-list {
			margin: 0;
			display: block;
			list-style-type: none;
			padding: 0;
			text-decoration: none;
			/*background: #5DBCD2;
			border-top-left-radius: .5em;
			border-bottom-left-radius: .5em;
			border-top-right-radius: .5em;
			border-bottom-right-radius: .5em;
			padding: 1em;*/
		}
		ul.info-list li, ul.tech-list li {
			display: inline-block;
		}
		ul.info-list li a, ul.tech-list li a {
		    position: relative;
		    padding: 10px 40px;
		    margin: 0px 10px 10px 0px;
		    float: left;
		    border-radius: 4px;
		    font-size: 18px;
		    color: white;
		    text-decoration: none;  
		    background-color: #55acee;
  			box-shadow: 0px 5px 0px 0px #3C93D5;
		}
		ul.info-list li a:hover, ul.tech-list li a:hover
		{
		    text-decoration: none;
			background-color: #6FC6FF;
		}
		ul.info-list li a:active, ul.tech-list li a:active, 
		#fortuneApp:active, #bitcoinApp:active {
		    transform: translate(0px, 5px);
			-webkit-transform: translate(0px, 5px);
			box-shadow: 0px 1px 0px 0px;
		}
		#fortuneApp, #bitcoinApp {
			display: inline-block;
		    padding: 0px 15px;
		    border-radius: 4px;
		    font-size: 14px;
		    color: white;
		    text-decoration: none;  
		    background-color: #e67e22;
			box-shadow: 0px 5px 0px 0px #CD6509;
		}
		#fortuneApp, #bitcoinApp {
			background-color: #FF983C;
		}
		header nav {background-color:#455159; font-weight:bold; width:100%;}
		header nav ul {position:relative; padding:0; margin:0;}
		header nav li {display:inline-block; border-top:4px solid #455159; margin-right:-5px;}
		header nav li:hover {border-color:#4c575f; background-color:#4c575f;}
		header nav li:hover a {color:#fff;}
		header nav li a {color:#ccc; display:block; padding:16px 35px 20px 35px;}
		header nav li a:hover {background-color:#4c575f; color:#fff;}
		header nav li.current-menu-item {border-top:4px solid #3485b4;}
		header nav li.current-menu-item a {background-color:#3c464d; color:#fff;}
		header nav .sub-menu {display:none; position:absolute; z-index:9999; background-color:#eaeaea; text-align:left;}
		header nav .sub-menu li {white-space:nowrap; font-size:12px; text-transform:none; padding:0; display:block; border:0; margin:0;}
		header nav .sub-menu li a {padding:8px 35px; width:100%; display:block; color:#293136;}
		header nav .sub-menu li a:hover {color:#fff;}

